<template>
  <q-card
    class="col-10 q-mt-md"
    bordered
  >
    <q-list>
      <q-item>
        <q-item-section>
          <q-item-label>{{nome}} {{qtdMax}}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn
            icon="delete"
            flat
            round
            @click="deleteSelf()"
          />
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>

<script>
export default {
  name: 'cafe',
  props: {
    nome: {
      type: String,
      default: ''
    },

    qtdMax: {
      type: String
    },

    index: {
      type: Number
    }
  },

  methods: {
    deleteSelf () {
      console.log(this.index)
      this.$emit('CoffeeDeleted', this.index)
    }
  }
}
</script>